[Unit]
Description=Trip Accounter Postgres

[Container]
Image=docker.io/library/postgres:17-alpine
ContainerName=tripaccounter-db
Network=tripaccounter.network
Volume=postgres.volume:/var/lib/postgresql/data
EnvironmentFile=/etc/tripaccounter/postgres.env
HealthCmd=pg_isready -U tripaccounter
HealthInterval=10s
HealthRetries=5
HealthStartPeriod=30s

[Service]
Restart=always

[Install]
WantedBy=multi-user.target default.target
